@page "/"
@using Fridge.Models

<PageTitle>FridgePlaner</PageTitle>

<p class="fridge">Your Fridge Items</p>

<div class="row">
    <div class="column">
        <div class="plane">
            Add item
        </div>
    </div>

    <div class="circle" @onclick="ShowAddItem">
        <i class="material-icons">@icon</i>
    </div>


</div>

<br>
<br />

@if (show)
{
    <NewItem /> 
}

<ItemList /> <!-- List of all Fridge Items  -->

@code {

    private bool show = false;
    private Item item;
    private String icon = "add";

    private void ShowAddItem()
    {
        if (!show)
        {
            icon = "remove";
        }
        else
        {
            icon = "add";
        }
        show = !show;

    }

}