body {
}

.column {
    float: left;
    width: 18%;
   
}

.row:after {
    content: "";
    display: table;
    clear: both;
    align-content: center;
}

.row {
    position: absolute;
    padding-top: 8px;
    border: 2px solid gray;
    height: 60px;
    width: 80%;
    left: 10%;
    border-radius: 30px;
    text-align: center;
    background-color: #e1e3e2;
}

#circle {
    height: 50px;
    width: 50px;
    border: 2px solid gray;
    border-radius: 25px;
    //position: absolute;
    //right: 16px;
    padding-bottom: 3px;
    transform: translate(0, -8.8%);
}
